<dt>Evento</dt>
<dd>{{ colaboracao.titulo }}</dd>
<dt>Organizado por</dt>
<dd>{{ colaboracao.criador.nome }}</dd>
<dt>Objetivos</dt>
<dd>{{ colaboracao.objetivos }}</dd>
<dt>Inicia</dt>
<dd>{{ colaboracao.inicio }}</dd>
<dt>Termina</dt>
<dd>{{ colaboracao.fim }}</dd>
<dt>Local</dt>
<dd>{{ colaboracao.local }}</dd>
<dt>Certificação</dt>
<dd>{% if colaboracao.certificacao %}Sim{% else %}Não{% endif %}</dd>
<dt>Participantes</dt>
<dd>{{ contagemParticipantes }} de {{ colaboracao.maximoParticipantes }}</dd>
