{% if not linkParaSair %}
<a class="btn btn-success" href="{% url 'part_inscrever' colaboracao.id %}">Increver</a>
<a class="btn btn-info" href="{% url 'part_index' %}">Voltar</a>
{% else %}
<a class="btn btn-danger" href="{% url 'part_desinscrever' colaboracao.id %}">Desincrever</a>
<a class="btn btn-info" href="{% url 'part_listar' %}">Voltar</a>
{% endif %}
