<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{{ titulodapagina }}</title>
    </head>
    <body>
        
{% include 'header_bootstrap.html' %}
        
		<div class="jumbotron">
			<h1>Rede Colaborativa</h1>
			<p>Uma rede de compartilhamento de conhecimento!</p>
		</div>
		<div class="row">
			<div class="col-sm-9"></div>
			<div class="col-sm-3">
			  {% if visitante %}
				Olá, {{visitante.nome}}!<br />
				<a class="btn btn-danger">Log Out</a>
			  {% else %}
				Olá, visitante!<br />
				<a class="btn btn-primary">Criar conta</a>
				<a class="btn btn-success">Log In</a>
			  {% endif %}
			</div>
			<p> </p>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="list-group">
				{% for sidebar_link in sidebar_links %}
					<a href="{% url sidebar_link.url %}" class="list-group-item{% if sidebar_link.active %} active{% endif %}">{{ sidebar_link.label }}</a>
				{% endfor %}
				</div>
			</div>
			<div class="col-sm-5">
				{% include body %}
			</div>
		</div>
    </body>
</html>
