
        <h3>{{ tituloh3 }}</h3>
        {% if erro %}
        <p>Erro de validação. Tente novamente.</p>
        {% else %}
        <p>&nbsp;</p>
        {% endif %}
        <form action="{% url submit_url item.id %}" method="post">
            {% csrf_token %}
            <table>
{{ form }}
            </table>
			<input class="btn btn-success" type="submit" value="{{ submit_label }}" />
			<a class="btn btn-danger" href="{% url del_url item.id %}">{{ del_label }}</a>
			<a class="btn btn-info" href="{% url back_url %}">{{ back_label }}</a>
        </form>
