        <h3>{{ tituloh3 }}</h3>
        <a class="btn btn-success" href="{% url new_url %}">{{ new_label }}</a>
        {% if toShow_list %}
        {% for showing in toShow_list %}
        <dl>
{% include brief_info_part %}
        </dl>
        {% endfor %}
        {% endif %}
