<dt>Evento</dt>
<dd>{{ showing.titulo }}</dd>
<dt>Organizado por</dt>
<dd>{{ showing.criador.nome }}</dd>
<dt>Quando</dt>
<dd>{{ showing.inicio }}</dd>
<dt>Local</dt>
<dd>{{ showing.local }}</dd>
<dt>
<a class="btn btn-info" href="{% url 'part_detalhe' showing.id %}">Mais informações</a>
{% if linkParaSair %}
<a class="btn btn-danger" href="{% url 'part_detalhe' showing.id %}">Abandonar</a>
{% endif %}
</dt><dd></dd>
